<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342620323200-meira997p845i41dito6n40rcp61c2ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342620323200-meira997p845i41dito6n40rcp61c2ma</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0D9-ccfSN0lNDFOf_wvWbl35wUK-cy8</string>
	<key>GCM_SENDER_ID</key>
	<string>342620323200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.den444ick.FIT-Studkurator</string>
	<key>PROJECT_ID</key>
	<string>fit-studkurator</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-studkurator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342620323200:ios:9e6a67379fca02e9d95565</string>
	<key>DATABASE_URL</key>
	<string>https://fit-studkurator.firebaseio.com</string>
</dict>
</plist>